<!DOCTYPE html>
<html>
<head>
    <title>学习Cytoscape.js和neo4j</title>
    
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
		<!-- <script src="../cytoscape.js/build/cytoscape.js"></script> -->
		<script src="/static/js/cytoscape-qtip.js"></script>
</head>
<body>
  <h1>Movie网络图</h1>
  <div id="cy"></div> 
  
  <script src="/static/js/code1.js"></script>
</body>
</html>
