<!DOCTYPE html>
<html>
<head>
    <title>学习Cytoscape.js和neo4j</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>    
	
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">

	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>	
	
	<script src="/static/js/cytoscape-qtip.js"></script>
</head>
<body>
  <h1>Movie网络图</h1>
  <div id="cy"></div> <!--引用code.js中cytoscape绘图-->
  <script src="/static/js/code.js"></script>
</body>
</html>
